<form #f="ngForm" >
    <label for="">Nom</label>
    <input type="text"
    ngModel name="nom"
      class="form-control"
    />
  
    <label for="">Prenom</label>
    <input
    ngModel name="prenom"
      type="text"
      class="form-control"
    />
   
    <br />
  
    <label for="">Profession</label>
    <input
    ngModel name="profession"
      type="text"
      class="form-control"
    />
    <br>

    <label for="">Age</label>
    <input
    ngModel name="age"
      type="text"
      class="form-control"
    />
    <br>

    <label for="">Avatar</label>
    <input
    ngModel name="avatar"
      type="text"
      class="form-control"
    />

    <br>
  
    <button type="submit" class="btn btn-primary">Se connecter</button>
   
  </form>
