<div class="cadre">
    <h3> {{oneAccount.name}} </h3>
    <hr>
    <p> This account is {{oneAccount.statut}} </p>
    <button [disabled]="oneAccount.statut == 'active'" (click)="changeStatus('active')" type="button" class="btn btn-success">Set to 'active'</button>
    <button [disabled]="oneAccount.statut == 'inactive'" (click)="changeStatus('inactive')" type="button" class="btn btn-danger">Set to 'inactive'</button>
    <button [disabled]="oneAccount.statut == 'unknown'" (click)="changeStatus('unknown')" type="button" class="btn btn-info">Set to 'unknown'</button>

</div>
